html body, .root {
  height: 100%;
  margin: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Titillium Web', sans-serif;
}

body, .app {
  background: white;
}

.content-container {
  margin: 2em 10em;
}

.login-container {
  margin: auto;
  width: 50%;
  padding: 5%;
}

.login-container input {
  background-color: teal;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 28px 0;
  cursor: pointer;
}

.login-container input:hover {
  background-color: #00b3b3;
}

.login-container .select-menu {
  height: 34px;
  overflow: hidden;
  width: 240px;
  background: teal url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
}

.login-container .select-menu select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 34px;
  padding: 5px;
  width: 268px;
  color: #EEE;
}

.primary-button {
  background-color: teal;
  border: none;
  color: white;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 12px 0;
  cursor: pointer;
  width: 175px;
}

.question-list .toggle-button:hover {
  background-color: #00b3b3;
}

.answered-question .selectedOption {
  color: teal;
  font-weight: bold;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu li {
  float: right;
}

.menu .username {
  float: left;
  color: white;
  margin: 1.25em;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  margin: 1.25em;
  text-decoration: none;
}

.menu li:hover {
  background-color: #111111;
}

.unanswered-question {
  margin: 0 auto;
  width: 382px;
}

.unanswered-question .primary-button {
  float: left;
  margin-right: 1em;
}

.question-section img {
  max-width: 7em;;
  max-height: 7em;
}

.question-section {
  text-align: center;
}

.or-text {
  font-weight: bold;
  font-size: 1.1em;
}

.add-question input[type="text"] {
  margin: 1em 0;
  width: 25em;
  height: 1.5em;
  font-size: .95em;
  display: block;
}

.leaderboard img {
  max-width: 6em;;
  max-height: 6em;
  float: right;
}

.leaderboard table {
  border-collapse: collapse;
  font-size: 1.2em;
  width: 80%;
}

.leaderboard td, .leaderboard th {
  border: 1px solid #ddd;
}

.leaderboard td + td, .leaderboard th {
  padding-left: 1em;
}

.leaderboard tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leaderboard tr:hover {
  background-color: #ddd;
}

.leaderboard th {
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: #fff;
}

.leaderboard th:first-child {
  width: 6em;
  padding-left: 0;
}

.answered-question div {
  font-size: 1.25em;
}
