html body, .root {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: 'Titillium Web', sans-serif;
}

body, .app {
  background: white;
}

.required:after {
  content: '*';
  color: #e32;
  position: absolute;
  margin: 0 0 0 -.58em;
  font-size: 1.5em;
}

.content-container {
  margin: 2em 10em;
}

.login-container, .login-page h1, p {
  margin: 0 auto;
  width: 400px;

}

.login-container input[type="text"], input[type="password"] {
  margin: 1em 0;
  width: 18em;
  height: 1.5em;
  font-size: .95em;
  display: block;
}

.login-container .errors {
  color: #e32;
}

.primary-button {
  background-color: teal;
  border: none;
  color: white;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 12px 0;
  cursor: pointer;
  width: 175px;
}

.primary-button:hover {
  background-color: #00b3b3;
}

.primary-button:disabled {
  background-color: lightgray;
}

.answered-question .selectedOption {
  color: teal;
  font-weight: bold;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu li {
  float: right;
}

.menu .username {
  float: left;
  color: white;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  margin: 1.25em;
  text-decoration: none;
}

.menu li:hover {
  background-color: #111111;
}

.unanswered-question {
  margin: 0 auto;
  width: 382px;
}

.unanswered-question .primary-button {
  float: left;
  margin-right: 1em;
}

.question-section img {
  max-width: 7em;;
  max-height: 7em;
}

.question-section {
  text-align: center;
}

.question-list ul {
  float: left;
  padding: 0;
  margin: 0;
}

.or-text {
  font-weight: bold;
  font-size: 1.1em;
}

.add-question .or-text {
  margin: 0;
}

.add-question input[type="text"] {
  margin: 1em 0;
  width: 25em;
  height: 1.5em;
  font-size: .95em;
  display: block;
}

.leaderboard img {
  max-width: 6em;;
  max-height: 6em;
  float: right;
}

.leaderboard table {
  border-collapse: collapse;
  font-size: 1.2em;
  width: 80%;
}

.leaderboard td, .leaderboard th {
  border: 1px solid #ddd;
}

.leaderboard td + td, .leaderboard th {
  padding-left: 1em;
}

.leaderboard tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leaderboard tr:hover {
  background-color: #ddd;
}

.leaderboard th {
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: #fff;
}

.leaderboard th:first-child {
  width: 6em;
  padding-left: 0;
}

.answered-question div {
  font-size: 1.25em;
}

.not-found {
  text-align: center;
}

.not-found h1 {
  margin-top: 3em;
}
