html body, .root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body, .app {
  background: white;
}

.login-container {
  margin: auto;
  width: 50%;
  padding: 5%;
}

.question-list .toggle-button {
  cursor: pointer;
}

.answered-question .selectedOption {
  color: blue;
  font-weight: bold;
}
